@model Garage_2.Models.Vehicles

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <h4>Fordon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            RegNr
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class = "col-sm-2">
            Fordonstyp
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class = "col-sm-2">
            Färg
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            Märke
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class = "col-sm-2">
            Modell
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            Antal hjul
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfWheels)
        </dd>
        <dt class = "col-sm-2">
            Parkeringstid
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartkingStartAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Lägg till /Ändra</a> |
    <a asp-action="Index">Tillbaka till listan</a>
</div>
