@model ReceiptViewModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Kvitto</h1>

<div>
    <h4>Fordon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            RegNr
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class = "col-sm-2">
            Parkerat kl
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartkingStartAt)
        </dd>
        <dt class = "col-sm-2">
            Checkat ut kl
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkedTime)
        </dd>
        <dt class = "col-sm-2">
            Pris per timme
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostForHour)
        </dd>
        <dt class = "col-sm-2">
            Tid parkerat
        </dt>
@*        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeElapsed)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>