@model Garage_2.Models.ViewModels.ReceiptViewModel

@{
    ViewData["Title"] = "View";
}

<h1>Kvitto</h1>

<div>
    @*<h4>ReceiptViewModel</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartkingStartAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartkingStartAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostForHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostForHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
